<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136798346608-hri383jqegn2br81peu84q5jp6h7ohgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136798346608-hri383jqegn2br81peu84q5jp6h7ohgo</string>
	<key>API_KEY</key>
	<string>AIzaSyC7SyEg6T89ueYwbfQ99nKVTaAHCLGaTtc</string>
	<key>GCM_SENDER_ID</key>
	<string>136798346608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bredykhin.OurBudget</string>
	<key>PROJECT_ID</key>
	<string>ourbudget-d6d8d</string>
	<key>STORAGE_BUCKET</key>
	<string>ourbudget-d6d8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136798346608:ios:cc142cd61284d2e9</string>
	<key>DATABASE_URL</key>
	<string>https://ourbudget-d6d8d.firebaseio.com</string>
</dict>
</plist>